.wrapper{
    text-align: center;
}
form{
    /* border: 2px solid green; */
    display: inline-block;
    background-color: black;
    border-radius: 30px;
    /* height: 600px; */
    padding: 15px;
    margin: 15px;
}
table{
    /* border: 2px solid red; */
    /* margin-left: 400px; */
}
table td{
    font-size: 25px;
    color: #7fc7ff;
}

table input{
    margin: 15px;
    width: 400px;
    height: 1.8rem;
    border: 3px solid #7fc7ff;
    border-radius: 1px;
    font-size: 18px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    padding: 2px;
}

.btn{
    background-color: lightskyblue;
    width: 150px;
    height: 50px;
    border-radius: 0px;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

